ASSETS_DIR='assets'
GLOBAL_SCALER_PATH='scalers/global_scaler.pkl'
USER_SCALER_PATH='scalers/user_scaler.pkl'
ISOFOREST_PATH='models/isoforest.pkl'
AUTOENCODER_PARAMS_PATH='models/autoencoder.pth'
AUTOENCODER_INPUT_DIM=6
ALPHA=0.6
THRESHOLD=0.7
CLIENT_URL=http://localhost:5173